@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-sm leading-6 mx-auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Đặt transition cho toàn bộ trang web */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
}
button {
  cursor: pointer;
  background-color: transparent;
  // outline: none;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body,
button,
input,
select,
textarea {
  @apply transition-all outline-none;
}
.border_primary {
  @apply border border-gray border-opacity-20;
}
.border-b_primary {
  @apply border-b border-gray border-opacity-20;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-opacity-25 bg-gray rounded-lg;
}
// swiper

.swiper-button-prev::after,
.swiper-button-next::after {
  padding: 16px;
  color: #232324;
  @apply text-2xl bg-transparent;
}

.quill .ql-editor {
  @apply min-h-[150px];
}

// ? button add products
.btn-addproduct {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: black;
  text-transform: capitalize;
}

.btn-addproduct:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn-addproduct:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn-addproduct:hover:before {
  left: 100%;
}
